<!DOCTYPE html>
<html lang="pt-br">

<head>
<meta charset="utf-8">
<title>Home</title>

</head>

<body>

	<h1>Reservas</h1>

	<div th:each="reserva : ${reservas}" >
		<div>Laboratório: <span th:text="${reserva.nomeDoLab}"></span></div>
		<div>Data da reserva:<span th:text="${reserva.dataDaReserva}"></span></div>
		<div>Horário da reserva: <span th:text="${reserva.horarioDaReserva}"></span></div>
		<div>Status da reserva: <span th:text="${reserva.status}"></span></div>
		<div>Professor responsável: <span th:text="${reserva.professorResponsavel}"></span></div>
		<div>Informações complementares: <span th:text="${reserva.informacoesComplementares}"></span></textarea>
		</div>
	</div>


</body>

</html>